In [9]:
#creating strings
c='Hello'
print(c)
c="Hello"
print(c)
c='''Hello
, world''' #specially used when you have to write multiline comments or used """"""
print(c)
c=str("Hello")
print(c)

Hello
Hello
Hello
, world
Hello

In [19]:
#slicing
c="Hello World"
print(c[0:4])
print(c[2:])
print(c[:4])
print(c[:])
print(c[2:6:2])
print(c[0:6:-1]) #return empty string
print(c[-5:-1:2])
print(c[::-1])
print(c[-1:-5:-1])

Hell
llo World
Hell
Hello World
lo

Wr
dlroW olleH
dlro

In [21]:
#editing and deleting
c[0]='X'
#cannot do this since strings are immutable

TypeError: 'str' object does not support item assignment

In [23]:
c="world"
print(c)
#we can change the string completely but cannot edit it's single characters, we can also not add characters

world

In [25]:
#deletion
del c
print(c)

NameError: name 'c' is not defined

In [26]:
c="world"
del c[2]

TypeError: 'str' object doesn't support item deletion

In [35]:
#operations on strings
#Arithematic operations

"Hello"+" "+"world"
print("**"*40)
"Hello"=="World"
"Mumbai">"Pune"

********************************************************************************

False

In [36]:
"hello" and "world"

'world'

In [ ]:
"" -> False
"nonemptystring" -> True

In [37]:
"" and "Hello"

''

In [38]:
"" or "World"

'World'

In [39]:
"Hello" or "world"

'Hello'

In [40]:
print(not "hello")

False

In [41]:
not ""

True

#string functions

In [45]:
#common functions
c="kolkata"
len(c)
max(c)
sorted(c)
sorted(c, reverse=True)

['t', 'o', 'l', 'k', 'k', 'a', 'a']

In [49]:
c.capitalize()
c.title() #capitalises every word's first char in string
c.upper()
c.lower()
c.swapcase()

'KOLKATA'

In [50]:
"it is raining".count('i')

4

In [51]:
"it is raining".find("raining")
#returns -1 when not found

6

In [52]:
"it is raining".index("r")
#shows error when not found

6

In [55]:
"it is raining".endswith("ing")
"it is raining".startswith("it")

False

In [56]:
"Hello my name is {} and I am {}".format("Nimish", 21)

'Hello my name is Nimish and I am 21'

In [57]:
"Hello my name is {1} and I am {0}".format("Nimish", 21)

'Hello my name is 21 and I am Nimish'

In [58]:
"Hello my name is {name} and I am {age}".format(name = "Nimish", age = 21)

'Hello my name is Nimish and I am 21'

In [59]:
"Flat20".isalnum()

True

In [60]:
"FLAT".isalpha()

True

In [61]:
"20".isdigit()

True

In [62]:
"Hello world".isidentifier()
#returns false since space is not a valid identifier, it is a special character.

False

In [63]:
"Hello_world".isidentifier()

True

In [64]:
"who is the pm of india".split()

['who', 'is', 'the', 'pm', 'of', 'india']

In [65]:
"who is the pm of india".split("i") #can also use substring in split()

['who ', 's the pm of ', 'nd', 'a']

In [66]:
"who is the pm of india".split("x")

['who is the pm of india']

In [67]:
" ".join(['who', 'is', 'the', 'pm', 'of', 'india'])

'who is the pm of india'

In [68]:
"-".join(['who', 'is', 'the', 'pm', 'of', 'india'])

'who-is-the-pm-of-india'

In [69]:
"Hi my name is nimish".replace("nimish", "amit")

'Hi my name is amit'

In [73]:
name = "              nimish               "
print(name)
print(name.strip())

              nimish
nimish